---
layout: default
title: About
description:
image: /assets/img/dng_about_img.jpg
---
<section class="previews">
  <div>
    {% for image in page %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ page.image }}');"></figure>
    {% endfor %}
    <div class="previews__container">
        <a class="no_hover"href="{{ site.baseurl }}/"><h1>dng.</h1></a>
        <span>web remedies</span>
    </div>
  </div>
  <div>
      {% include nav.html %}
    <div class="landing_tab">
        <h2>We're digital natives & we're here to help your brand grow online</h2>

        <p>Hi! We are Daniella and Gal Azencot, two siblings with an enormous passion for creativity and the World Wide Web.</p>

        <p>We love web development and we’re obsessed with figuring out solutions to your problems.</p>

        <p>But the sad truth is that the Internet is an <b>ugly</b> place.</p>

        <p><b>80% of websites fail to generate results</b> no matter how pretty they may be. We know that you don’t just need a pretty website – you need a website that converts your users into customers AND looks exceptional at the same time!</p>

        <p>By doing the things we love and taking the time to learn more about you, your business and your unique needs, we’re able to build efficient business websites online-stores, mobile applications, and promote the shit out of it all across the web!</p>

        <p>We believe great websites and great relationships come from collaboration. That's why we apply the same level of care and attention to detail to every project as if it were our own. Cause ultimately, your success is our success.</p>

        <p>We'd love to chat about your Internet goals, learn about you, and build beautiful web experiences together.</p>

      {% include archive-link.html %}
    </div>
  </div>
</section>
