---
layout: default
title: Contact
description:
image: https://unsplash.it/2000/1200/?image=824
---
<section class="previews">
  <div>
    {% for image in page%}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ page.image }}');"></figure>
    {% endfor %}
    <div class="previews__container">
        <a class="no_hover"href="{{ site.baseurl }}/"><h1>dng.</h1></a>
        <span>web remedies</span>
    </div>
  </div>

  <div>
      {% include nav.html %}

    <div class="tab">
        <!-- Change the width and height values to suit you best -->
        <div class="typeform-widget" data-url="https://gal14.typeform.com/to/AdaqT8" data-text="WEBSITE INTAKE FORM (copy)" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
      {% include archive-link.html %}
    </div>


  </div>

</section>
