---
layout: default
image: /assets/img/dng_home.png
---
<section class="previews">
  <div>
    {% for image in page %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ page.image }}');">
      </figure>
    {% endfor %}
    <div class="previews__container">
      <h1>dng.</h1>
      <span>web remedies</span>
    </div>
  </div>

  <div>
    <div class="landing_tab" style="padding-top:60px;">
        <h1>We are the digital natives gang</h1>
        <p>We create kick-ass websites & digital experiences that generate results for startups, entrepreneurs and established businesses.</p>
        <p><b>Are you ready to generate more traffic, leads and sales with result-driven websites & powerful online marketing?</b></p>
        <p>Find out the top 3 reasons WHY your website isn’t generating sales <i class="fa fa-angle-double-right"></i></p>
        <div class="landing_preview"><a href="three-reasons-websites-fail" class="preview__more bttn1">GET THE CHEAT SHEET </a></div>
        <div class="landing_preview"><a href="/blog" class="preview__more bttn2"> OR CHECK OUT OUR PROJECTS</a></div>
      {% include archive-link.html %}
    </div>
  </div>
</section>
