---
layout: default
title: Services
description:
image: https://unsplash.it/2000/1200/?image=824
---
<section class="previews">
  <div>
    {% for image in page %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ page.image }}');"></figure>
    {% endfor %}
    <div class="previews__container">
      <a class="no_hover"href="{{ site.baseurl }}/"><h1>dng.</h1></a>
      <span>web remedies</span>
    </div>
  </div>
  <div>
      {% include nav.html %}
    <div class="landing_tab">
        <h2>Generate more traffic, leads and sales with result-driven websites & powerful online marketing</h2><br>
        <p><b>You're probably here because you're hoping a website will help you grow your business.</b> And you're right, a website could help, but sadly very few websites are precisely engineered to help sell your product or service. Fortunately we’re here to solve that.</p>
        <p>Here’s some of the cool stuff we can help you with:</p>
        <img src="/assets/img/dev.png" style="width:200px;margin-right: auto;margin-left: auto;">
        <h2>WEBSITE DEVELOPMENT & REDESIGN (we <i class="fa fa-heart"></i> code)</h2><br>
        <p>We implement HTML, CSS, JavaScript and more to deliver efficient, user-centric and cleanly coded websites, mobile apps and custom eCommerce solutions.</p>
        <p>We love working with both static and dynamic content management systems like Middleman, Jekyll, Wordpress, Shopify and more to create unique solutions for your business needs.</p>
        <p>We also go WAY beyond the basics: Every website we build or redesign includes on-page SEO and mobile-friendly functionality. Because it’s 2017 and we’re really not asking (trust us you need it!).</p>
        <hr>
        <img src="/assets/img/marketing.png" style="width:200px;margin-right: auto;margin-left: auto;">
        <h2>CONVERSION MARKETING</h2><br>
        <p>We don’t just build websites — we build strategies.</p>
        <p>Conversion marketing involves paid and unpaid Internet marketing that encourage customers browsing your website to take specific actions like making a purchase of your product or service – “converting” them from a visitor to a potential new customer or lead.</p>
        <p>Some conversion marketing tactics may include: <b>SEO, SEM, pay-per-click advertising, back-link building, content creation + marketing, blogging, reputation management, social media marketing + advertising, email marketing</b> and more. Strategies and campaigns are customized for each client via a discovery process before any remedies are prescribed.</p>
        <hr>
        <img src="/assets/img/content.png" style="width:200px;margin-right: auto;margin-left: auto;">
        <h2>CONTENT CREATION & MARKETING</h2><br>
        <p>We do content differently and we help you get it noticed.</p>
        <p>Creating relevant and optimized content for the web that helps drives traffic, improves organic search engine rank and increases inbound links to your site is not easy! Not a professional writer? Not a problem! Let us take the reins and create your optimized blog articles, news pieces, press releases, emails or website content for any digital or promotional materials you need.</p>
        <p>We have extensive experience creating content optimized for Conversion Marketing & Marketing Automation, across a wide spectrum of industries. If you need high-quality content to support your businesses conversion & automation marketing initiatives, don’t hesitate to <a href="/contact">reach out to us</a>. We’re happy to help.</p>

      {% include archive-link.html %}
    </div>
  </div>
</section>
