---
layout: landing
title: 1-on-1 Business Brainstorming Strategy Session
description: (Available for a limited time.)
ctalink: "#brainstrom"
ctalinktext: View Offer
image: /assets/img/dng-biz-assessment-head.png
noindex: true
---
<div class="section section-padding" style="text-align:center;">
    <h2>Thanks for taking our Website Feasibility QUIZ!</h2>
    <p>Your results will be sent to your inbox shortly.</p>
    <img src="/assets/img/LM-CoverPage-Quiz.png"style="width:250px;margin-left:auto; margin-right:auto;">
    <p>While you wait for your results, check out this special BONUS below. But be quick… it’s only available for 1 week!</p>
</div>
<div class="section section-padding"  style="padding-top:0px;">
    <img src="/assets/img/dng_about_thumb.png"style="float:right; width:250px; margin-left:10%; border-radius:50%;">
    <p><em>"Hi, we’re dng web remedies. The traditional ‘website’ as we know is dead. You need a lead generating marketing machine that works day and night to deliver your new business sales on tap. To efficiently turn your idea into a viable online business, sign up for our FREE Business Brainstorming Strategy Session and work one-on-one with us to develop your business objectives and marketing goal."</em></p>
    <p>daniella & gal</p>
    <p>digital natives gang // dng web remedies</p>
</div>
<div class="section section-padding info">
    <h2>Here's what you get:</h2>
    <ul>
        <li><i class="fa fa-check-circle-o"></i> A 100% personalised brainstorming strategy session of your current business plan, goals and objectives to determine the proper approach and first steps to take when building a business online.</li>
        <li><i class="fa fa-check-circle-o"></i> The top three Internet marketing tactics you MUST implement before you even have a website to start gaining credibility and building a name for your business online.</li>
        <li><i class="fa fa-check-circle-o"></i> Plus, we’ll teach you the exact steps you need to take to make your website insanely profitable (and it’s not as hard or as expensive as you think… ).</li>
    </ul>
</div>
<div class="section section-padding">
    <p>You’ll get the exact system we use to transform a conceptual idea into profit-making machine in a matter of weeks… for a fraction of what you’d expect to pay.</p>

    <p><b>What would it feel like to have the website of your dreams next month?</b></p>

    <p>To find out, simply click the button below and we’ll be in contact with you shortly.</p>
</div>

<scroll-container>
  <scroll-page id="brainstrom">
      <div class="typeform-widget" data-url="https://gal14.typeform.com/to/cBb0eQ" data-text="CT - brainstorm session" style="width:100%;height:500px;"></div>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </scroll-page>
</scroll-container>
