---
layout: landing
title: So You’ve Got a Great Idea for a Website.
description: Now What?, Assess your big idea and determine if your business will profit online.
ctalink: "#assessment"
ctalinktext: START THE QUIZ
image: /assets/img/dng-biz-assessment-head.png
---
<scroll-container>
<div class="section section-padding">
  <img src="/assets/img/dng-biz-assessment.png"style="float:right; width:300px; margin-left:10%;">
  <h2>It’s important to take a critical look at your business idea when deciding if it’s worth investing your time and money.</h2>
  <br>
  <h2>So, if you're thinking about starting a new venture online, but you aren't sure if the idea is viable, take our FREE <em>Website Feasibility QUIZ</em> to work out if your idea has real business opportunity and if you’re prepared to start and run an online business.</h2>
</div>


<div class="section section-padding info">
  <h2>Position your business for success before you invest a dime! </br>Use this assessment to help you:</h2>
  <ul>
    <li><i class="fa fa-check-circle-o"></i> Evaluate if there is a sustainable and growing market for your business online</li>
    <li><i class="fa fa-check-circle-o"></i> Develop effective marketing goals to turn your idea into a viable online business</li>
    <li><i class="fa fa-check-circle-o"></i> Implement simple & inexpensive tactics to gain customers and keep them coming back for more</li>
  </ul>
</div>

<div class="section section-padding">
  <img src="/assets/img/dng-biz-assessment.png"style="float:right; width:300px; margin-left:10%;">
  <h2>Take a look at what this satisfied client had to say about our services</h2>
  <br>
  <p>"For years I was stuck in a cubical working the typical 9-to-5 until I mustered up the courage to invest my energy and time in something I was truly passionate about, starting my own business! I knew I wanted to do this all online, from the comfort of my home, but I had no clue where to begin. I found DNG Web Remedies and took the assessment to find out if My Online Business is Feasible. From there, the Web Remedies team scheduled a call with me and strategized a plan to suit my business and budget needs. Today my businesses is growing tremendously and my traffic is through the roof thanks to their unbeatable monthly lead generating campaigns!"</p>

</div>


  <scroll-page id="assessment">
      <div class="typeform-widget" data-url="https://gal14.typeform.com/to/rgUYWQ" data-text="LM - Online Business Feasibility QUIZ " style="width:100%;height:500px;"></div>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </scroll-page>
</scroll-container>
