---
layout: landing
title: 3 Reasons Your Site isn't Generating Sales
description: "Now there IS a formula for website success, and you're about to discover it... for free.
This free 3 Sales FAILS Website Cheat Sheet will show you how..."
ctalink: "#threereasons"
ctalinktext: DOWNLOAD IT NOW… IT’S FREE
image: /assets/img/dng-three-head.jpg
---
<scroll-container>
<div class="section section-padding" style="text-align:center;">
    <img src="/assets/img/sales-fails2.svg"style="width:250px;margin-left:auto; margin-right:auto;">
    <h2>MAKE MORE SALES ONLINE!</h2>
    <br>
    <h2>Don't waste another day missing out on those much-needed sales! Get instant access now...</h2>
</div>


<div class="section section-padding info">
  <h2>Position your business for future success by:</h2>
  <ul>
    <li><i class="fa fa-check-circle-o"></i> Turning your website into profit-making marketing tool for your business </li>
    <li><i class="fa fa-check-circle-o"></i> Implementing a solid sales funnel that’ll turn browsers into buyers</li>
    <li><i class="fa fa-check-circle-o"></i> Making it easy for your customers to find and then buy what they’re looking for</li>
  </ul>
</div>

<div class="section section-padding">
  <img src="/assets/img/Jens-flower-shop.svg"style="float:right; width:250px; margin-left:10%;">
  <h2>Take a look at what this satisfied client had to say about our services</h2>
  <br>
  <p>"I was totally kidding myself that my five-year-old website was still good enough. But my traffic was low and shop sales were few to none. I knew I had to do something if I wanted to attract the right people to my online store. I started with the 3 Website Fails cheat sheet and was able to make a bunch of changes myself that made a difference. Then I talked to Daniella & Gal and we came up with a redesign strategy to suit my business and budget needs. Today over half my sales are online. Sales I would’ve missed out on!"</p>
  <p>Jennifer Hankin Owner, Jen’s Flowers</p>
</div>

<scroll-container>
  <scroll-page id="threereasons">
        <div class="typeform-widget" data-url="https://gal14.typeform.com/to/hpX1gx" data-text="LM - Three Reasons" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </scroll-page>
</scroll-container>
