---
layout: landing
title: Confused about the costs of building a website?
description: "Use our custom website calculator to get a quick estimate of your website project so you can determine how much to invest and what to expect."
ctalink: "#calculator"
ctalinktext: CALCULATE MY WEBSITE PROJECT!
image: /assets/img/dng-calc-head.jpg
---
<scroll-container>
  <scroll-page id="calculator">
      <div class="typeform-widget" data-url="https://gal14.typeform.com/to/jeO2sQ" data-text="quiz (copy)" style="width:100%;height:650px;"></div>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </scroll-page>
</scroll-container>
