---
layout: landing
title: WEBSITE AUDIT RESCUE STRATEGY
description:
ctalink: "#audit"
ctalinktext: View Offer 
image: /assets/img/dng-three-head.jpg
noindex: true
---
<div class="section section-padding" style="text-align:center;">
    <h2>Thanks for downloading our 3 Website Sales Fails Cheat Sheet!</h2>
    <p>Your cheat sheet will be sent to your inbox shortly.</p>
    <img src="/assets/img/LM-CoverPage-3Reasons.png"style="width:250px;margin-left:auto; margin-right:auto;">
    <p>While you wait for your cheat sheet, check out this special BONUS below. But be quick… it’s only available for 1 week!</p>
    <p>If you’re ready to take the leap and start seeing a profit from your website, don’t miss this special we’re offering:</p>
</div>
<div class="section section-padding" style="padding-top:0px;">
    <img src="/assets/img/dng_about_thumb.png"style="float:right; width:250px; margin-left:10%; border-radius:50%;">
    <p><em>"Hi, we’re dng web remedies. The traditional ‘website’ as we know is dead. You need a lead generating marketing machine that works day and night to deliver your business sales on tap. Sign up for our free Website Audit Rescue Strategy and find out how to turn your website weaknesses into strengths to deliver real sales results."</em></p>
    <p>daniella & gal</p>
    <p>digital natives gang // dng web remedies</p>
</div>
<div class="section section-padding info">
    <h2>Here's what you get:</h2>
    <ul>
        <li><i class="fa fa-check-circle-o"></i> A 100% personalized critique of your current website homepage to uncover all the obstacles that are causing you to miss out on hot leads.</li>
        <li><i class="fa fa-check-circle-o"></i> The top three game-changing tactics you can implement right now to gain quick wins and boost the number of enquiries within a week.</li>
        <li><i class="fa fa-check-circle-o"></i> Plus, we’ll teach you the exact steps you need to take to make your website insanely profitable (and it’s not as hard or as expensive as you think…).</li>
    </ul>
</div>
<div class="section section-padding">
    <p>You’ll get the exact system we use to transform dead, dust-collecting websites into profit-making machines in a matter of weeks… for a fraction of what you’d expect to pay.</p>

    <p><b>What would it be like to go from attracting 1-2 leads per months to 1-2 leads per day?</b></p>

    <p>To find out, simply click the button below and we’ll show you…</p>
</div>

<scroll-container>
  <scroll-page id="audit">
      <div class="typeform-widget" data-url="https://gal14.typeform.com/to/aKi1HA" data-text="CT - website audit" style="width:100%;height:500px;"></div>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </scroll-page>
</scroll-container>
