<footer class="section-padding--sm footer">
  <a class="footer__archive" href="{{ site.baseurl }}">dng.</a>
  <ul class="footer__social">
    <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
    {% for social in site.social %}
      <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
    {% endfor %}
  </ul>
</footer>
