<section class="previews">
  <div>
    <a class="nav nav--white" href="{{ site.baseurl }}/projects">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Back to Projects</span>
    </a>
    {% for post in site.categories[page.title] %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ post.image }}');"></figure>
    {% endfor %}
    <div class="previews__container">
      <!--<span>Projects</span>
      <h1>{{ page.title }}</h1>-->
    </div>
  </div>

  <div>
    <!--<header>
      <ul class="tabs">
        <li class="tabs__item">{{ page.title }}</li>
        <li class="tabs__item">Categories</li>
      </ul>
  </header>-->
  {% include nav.html %}

    <div class="tab">
      <ul>
        {% for post in site.categories[page.title] %}
          <li class="preview" itemprop="blogPost">
            <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <!--<span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>-->
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 30 }}</p>
              <span class="preview__more">Read More</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% include archive-link.html %}
    </div>
  </div>

</section>
