<header>
  <ul class="tabs">
    <li class="tabs__item"><a {% if page.url == '/about/' %}class="active" {% endif %} href="/about">About</a></li>
    <li class="tabs__item"><a {% if page.url == '/services/' %}class="active" {% endif %}href="/services">Services</a></li>
    <li class="tabs__item"><a {% if page.url == '/blog/' %}class="active" {% endif %}href="/blog">Projects</a></li>
    <li class="tabs__item"><a {% if page.url == '/contact/' %}class="active" {% endif %}href="/contact">Contact</a></li>
  </ul>
</header>
