---
layout: default
title: Archive
description:
permalink: /archive/
---
<section class="archives">
  <a class="nav nav--black" href="{{ site.baseurl }}/blog">
    <i class="fa fa-lg fa-arrow-left"></i>
    <span>Back to Posts</span>
  </a>
  <header class="archives__header">
    <span>Archive</span>
  </header>
  <div class="section-padding archives__container">
    {% for post in site.posts %}
      <article class="card" itemprop="blogPost">
        <a class="card__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
          <div class="card__img">
            {% if post.image-sm %}
              <figure class="absolute-bg wow" style="background-image: url('{{ post.image-sm }}');"></figure>
            {% else %}
              <figure class="absolute-bg wow" style="background-image: url('{{ post.image }}');"></figure>
            {% endif %}
          </div>
          <div class="card__container">
            <h2 class="card__header" itemprop="name">{{ post.title }}</h2>
            <!--<p class="card__count" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %-d, %Y" }}
              {% if post.categories.size > 0 %}
                in {{ post.categories | join: ', ' }}
              {% endif %}
          </p>-->
            <span class="card__more">Read Post</span>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</section>
