---
layout: default
title: Projects
---
<section class="previews">
  <div>
    {% for post in site.posts %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ post.image }}');"></figure>
    {% endfor %}
    <div class="previews__container">
      <!--<h1>{{ site.title }}</h1>
      <span>web remedies</span>-->
    </div>
  </div>
<div>
    {% include nav.html %}
  <div class="tab">
    <ul class="cards">
      {% for category in site.categories %}
        {% assign cat_name = category | first %}
        <li class="card">
          <a class="card__link" href="{{ site.baseurl }}/projects/{{ category | first | downcase | slugify }}/">
            {% for post in site.categories[cat_name] limit: 1 %}
              <div class="card__img">
                {% if post.image-sm %}
                  <figure class="absolute-bg" style="background-image: url('{{ post.image-sm }}');"></figure>
                {% else %}
                  <figure class="absolute-bg" style="background-image: url('{{ post.image }}');"></figure>
                {% endif %}
              </div>
            {% endfor %}
            <div class="card__container">
              <h2 class="card__header">{{ cat_name }}</h2>
              <p class="card__count">{{ site.categories[cat_name] | size }} Projects</p>
              <span class="card__more">View All</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

    {% include archive-link.html %}
  </div>
</div>

</section>
