---
layout: default
---
<article>
    <header class="section-padding--lg mast">
      <a class="nav nav--white" href="{{ site.baseurl }}/">
        <i class="fa fa-lg fa-arrow-left"></i>
        <span>dng.</span>
      </a>
      <figure class="absolute-bg mast__img" style="background-image: url('{{ page.image }}');"></figure>
      <div class="mast__containerLAND">
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <span>
          {{ page.description }}
        </span>
        <div class="landing_preview" style="margin-top:20px;">
            <a href="{{ page.url}}{{ page.ctalink }}" class="preview__more">{{ page.ctalinktext }}</a>
        </div>
        <span></span>
      </div>
    </header>

  <section class="landing" itemprop="articleBody">
    {{ content }}
  </section>
</article>
