---
layout: default
---
<article itemprop="blogPost">

  <header class="section-padding--lg mast">
    <a class="nav nav--white" href="{{ site.baseurl }}/">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>dng.</span>
    </a>
    <figure class="absolute-bg mast__img" style="background-image: url('{{ page.image }}');"></figure>
    <div class="mast__container">
    <!--  <span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>-->
      <h1 itemprop="name headline">{{ page.title }}</h1>
     <!--  {% if page.categories.size > 0 %}
        <span>
          Posted in {{ page.categories | join: ', ' }}
        </span>
      {% endif %}-->
      <span></span>
    </div>
  </header>

  <section class="section-padding post" itemprop="articleBody">
    {{ content }}
  </section>

  <section class="profile">

    <div class="profile__card">
      <div class="profile__img">
        <figure class="absolute-bg" style="background-image: url('{{ site.profile_img }}');"></figure>
      </div>
      <div class="profile__container">
        <p>{{ site.profile }}</p>
        {% if site.email or site.social %}
          <ul class="profile__social">
            {% if site.email %}
              <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
            {% endif %}
            {% for social in site.social %}
              <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
            {% endfor %}
          </ul>
        {% endif %}
    </div>
    </div>
  </section>

</article>

{% if page.previous.url %}
  <section class="next">
    <a class="next__link" href="{{page.previous.url | prepend: site.baseurl }}" style="background-image: url('{{ page.previous.image }}');">
      <div class="next__container">
        <span>Read Next</span>
        <h2>{{page.previous.title}}</h2>
      </div>
    </a>
  </section>
{% endif %}
