---
layout: default
---
<article itemprop="blogPost">

  <header class="section-padding--lg mast">
    <a class="nav nav--white" href="{{ site.baseurl }}/">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>dng.</span>
    </a>
    <figure class="absolute-bg mast__img" style="background-image: url('{{ page.image }}');"></figure>
    <div class="mast__container">
    <!--  <span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>-->
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <!-- {% if page.categories.size > 0 %}
        <span>
          Posted in {{ page.categories | join: ', ' }}
        </span>
      {% endif %}-->
      <span></span>
    </div>
  </header>

  <section class="section-padding post" itemprop="articleBody">
    {{ content }}
  </section>

  <section class="AD">

    <div class="AD__card">
        <a href="/websitecalculator"><img src="{{ site.baseurl }}/assets/img/CALC-banner1.png" alt="" /></a>
    </div>
  </section>

</article>

{% if page.previous.url %}
  <section class="next">
    <a class="next__link" href="{{page.previous.url | prepend: site.baseurl }}" style="background-image: url('{{ page.previous.image }}');">
      <div class="next__container">
        <span>Read Next</span>
        <h2>{{page.previous.title}}</h2>
      </div>
    </a>
  </section>
{% endif %}
